
#Tasks_Panel-info {
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	width: 93%;	
	height: 400px;
	box-shadow: 10px 10px 5px #888888;
	background-color: white;
	float: left;
	overflow: scroll;

}

.task-list:hover {
	background-color: gainsboro;
}

.commentTextArea{
	width: 70%;
	border: none;
	background-color : transparent;
	margin-left: 30px;
	font-size: 20px;

}


.date{
	float: right;
	font-size: 15px;
	width: 120px;
	background-color: rgb(244, 112, 112);
	text-align: center;
	color: white;
}

.submit{
	position: fixed;
	padding-left: 90px;
    bottom: 0;
    width: 80%;
    
}
.submit .comment{
	border-radius: 15px;
	width: 80%;
	font-size: 25px;
	height: 150px;
}


.submit button{
	align-items: right;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
	width: 150px;
	height: 50px;
	
}

.submit button:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
}

.submit button:active{
	position:relative;
	top:1px;
}
