*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;	
}

#side-navagate-bar {
	position: fixed;
	width:200px;
	height: 100%;
	background: #151719;
	left:0px;
	transition: all 500ms linear;
	top: 0px;
	z-index: 3;
}

#side-navagate-bar.active {
	left:-200px;
}

#side-navagate-bar ul li{
	color: rgb(230,230,230,0.9);
	list-style: none;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(100,100,100, 0.3);
}

#side-navagate-bar a {
	text-align: center;
	color: #ffffff;
}

#side-navagate-bar .toggle-btn {
	position: absolute;
	left:230px;
	top: 20px;
	cursor: pointer;
}

#side-navagate-bar .toggle-btn span {
	display: block;
	width: 30px;
	height: 5px;
	background: #ffffff;
	margin:3px 0px;
}

#logo {
	padding-left:2px;
	font-family: "arial black";
	color: #39ca74;
}

#top-bar {
	position: fixed;
	width:100%;
	height:70px;
	background-color: #282828;
	z-index: 2;
}

#top-bar ul {
	width: auto;
	float: right;
	margin-top: 8px;
}

#top-bar li {
	display: inline-block;
	padding: 15px 30px;
}

#top-bar a {
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

#top-bar a:hover {
	color: #F0c330;
	transition: 0.5s;
}

#block {
	position: absolute;
	width: calc(100% - 200px);
	height:calc(100% - 90px);
}

#main-area {
	position: absolute;
	padding-top: 20px;
	width: 100%;
	height: 100%;
	top: 70px;
	left:200px;
	transition: all 500ms linear;
	background-color:rgb(234, 234, 234);
	
	
}
#main-area.active {
	left:0px;
}

#first_row {
	width: 100%;
	height: 35%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#linechar{
	width: 43%;
	float: left;
	background-color: white;
	margin-left: 2%;

	box-shadow: 10px 10px 5px #888888;
}

#barchar{
	width:43%;
	float: left;
	margin-left: 4%;
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
}

#welcome {
	padding-left: 40px;
}

#mini_nav {
	height: 90px;
	margin-top: 20px;
}

#mini_nav img{
	height: 75px;
	width: 75px;
	float: right;
}
.mini_font{
	padding-top: 30px;
	float: left;
	padding-left: 25px;
}

.mini_font a {
	text-decoration: none;
}

.mini_font a:link {
	color: black;
}

.mini_font a:visited {
	color: black;
}

.mini_font a:hover {
	color: #F0c330;
	transition: 0.5s;
}

.mini_font a.active {
	color: black;
}

#mini_board {
	float: left;
	width: 18%;
	margin-left: 2%;
	margin-right: 2%;
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
}


#second_row {
	height: 30%;
	
}

#Tasks_Panel {
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	width: 93%;
	height: 100%;
	box-shadow: 10px 10px 5px #888888;
	background-color: white;
	float: left;

}

#Tasks_Panel h4 {
	padding-left: 20px;
	padding-top: 20px;
}

.badge {
	float: right;
	width: 200px;
	border-radius: 25px;
	background-color: rgb(244, 112, 112);
	text-align: center;
	color: white;
	
}

.task-list {
	display: block; 
	margin-left: 70px;
	margin-right: 70px;
	border: 1px solid gainsboro;
	text-decoration:none;
	color:#282828;

}

.task-list:hover {
	background-color: gainsboro;
}







