
#block {
	position: absolute;
	width: calc(100% - 200px);
	height: 100%;
}

#main-area {
	position: absolute;
	padding-top: 20px;
	width: 100%;
	height: 87.5%;
	top: 70px;
	left:200px;
	transition: all 500ms linear;
	background-color:rgb(234, 234, 234);
}
#main-area.active {
	left:0px;
}

#Product_Panel {
	margin-top: 20px;
	margin-right: 40px;
	box-shadow: 10px 10px 5px #888888;
	background-color: white;
	float: left;
	overflow-x: auto;
	padding: 20px;
	width: 85%;
}

#Product_Panel table{
	border-collapse: collapse;
	overflow-x: auto;
	table-layout: fixed;
	width: 100%;
}

#Product_Panel td{
	border: solid;
	border-collapse: collapse;
}

#Tasks_Panel h4 {
	padding-left: 20px;
	padding-top: 20px;
}

.badge {
	float: right;
	padding: 3px 5px;
	width: 200px;
	border-radius: 25px;
	background-color: rgb(244, 112, 112);
	text-align: center;
	color: white;
}

.task-list {
	display: block;
	padding: 7px 10px;
	margin-left: 70px;
	margin-right: 70px;
	border: 1px solid gainsboro;
	text-decoration:none;
	color:#282828;
}

.task-list:hover {
	background-color: gainsboro;
}

.table {
	display: block;
	padding: 7px 7px;
	border: none;
	background-color: transparent;
}

.hidden{
	width: 0px;
	height: 0px;
	visibility: hidden;
}

table.cinereousTable {
  border: 6px solid #948473;
  background-color: #FFE3C6;
  text-align: center;
}
table.cinereousTable td, table.cinereousTable th {
  border: 2px solid #948473;
  padding: 4px 4px;
}
table.cinereousTable tbody td {
  font-size: 13px;
}
table.cinereousTable thead {
  background: #948473;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table.cinereousTable thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #948473;
}
table.cinereousTable thead th:first-child {
  border-left: none;
}

table.cinereousTable tfoot {
  font-size: 16px;
  font-weight: bold;
  color: #F0F0F0;
  background: #948473;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table.cinereousTable tfoot td {
  font-size: 16px;
}

